{{#if username}}
	<form class="addPost" method='post' action='api/post' data-action="addPost" >

		<div class="addPost--row">
			<label class="addPost--row__label" for='title'>Title</label>
			<input  data-post="postTitle" type='text' name='title'/>
		</div>
		<div>
			<label class="addPost--row__label" for='body'>Body</label>
			<textarea data-post="postBody" name='body'></textarea>
		</div>
		<div class="addPost--row">
			<input type='submit' value="Add Post"/>
		</div>
	</form>

	<label>
		<input type='checkbox' data-wall='filter' />
		Show only my posts
	</label>
{{/if}}