{{#if addedComments}}
	{{#each addedComments}}
		<li>
			<header>
				<h5>{{author}}</h5>
			</header>
			<section>
				{{text}}
			</section>
		</li>
		
		{{#if my}}
		<button data-action="deleteComment" data-comment-id={{_id}} data-post-id={{../_id}}>Delete my Comment</button>
		{{/if}}
	{{/each}}
{{/if}}