{{#if posts}}

<span>page</span>
<nav>
	{{#each postsPaginationArray}}

		<button value={{{this}}} data-action="pagination">{{{this}}}</button>

	{{/each}}
</nav>

<ul data-post="list">

</ul>

<span>page</span>
<nav>
	{{#each postsPaginationArray}}

		<button value={{{this}}} data-action="pagination">{{{this}}}</button>

	{{/each}}
</nav>
{{/if}}