{{#if username}}
	<button>Add Post</button>
	<form method='post' action='api/post'>
		<input type='text' name="title"/>
		<textarea name="body"></textarea>
		<input type='submit' />
	</form>
{{/if}}

{{#if posts}}
<ul>
{{#each posts}}
	<li>
		<h2>
			{{title}}
        </h2>
        <p>
        	{{body}}
        </p>
    </li>
{{/each}}
<ul>
{{/if}}