main {
	width: 500px;
	height: 200px;
	background-color: rgba(0,12,80,0.1);
}

a {
	background: aliceblue;
	display: inline-block;
	width: 150px;
	height: 50px;
}

footer {
	background-color: rgba(42,79,200,0.1);
}
