.addPost {
	margin: 40px;
}

.addPost > * {
	display: block;
}

.addPost--row {

}

.addPost--row__label {
	display: inline-block;
	width: 80px;
}

main {
	width: 500px;
	height: 200px;
	background-color: rgba(0,12,80,0.1);
    opacity: 0.7;
}

a {
	background: lightgreen;
	display: inline-block;
	width: 150px;
	height: 50px;
}

.is-hidden {
	visibility: hidden;
}

.is-not-hidden{
	visibility: auto;
}

footer {
	background-color: rgba(42,79,200,0.1);
}
