.l-container {}

.l-wrapper {
	width: $main-width-desktop;
	margin: 0 auto 65px;
}

.l-content {
	margin: 50px 0 0 0;
}

.l-main {
	float: left;
	width: $l-main-width;
	/*outline: 1px solid red;*/
}

.l-main-news-list {
	float: left;
	width: 380px;
	margin-bottom: $vertical-margin-beetwen-blocks;
}

.l-sidebar-video {
	float: right;
	width: $sidebar-width;
}

.l-sidebar-interesting {
	float: right;
	width: $sidebar-width;
}

.l-footer {
	width: $main-width-desktop;
}