.l-container {}

.l-wrapper {
	width: 940px;
	margin: auto;
	}

.l-content {
	margin: 50px 0;
}

.l-main {
	float: left;
	width: $l-main-width;
	/*outline: 1px solid red;*/
}

.l-main-news-list {
	float: left;
	width: 380px;
	margin-bottom: $vertical-margin-beetwen-blocks;
}

.l-sidebar-video {
	float: right;
	width: $sidebar-width;
}

.l-sidebar-interesting {
	float: right;
	width: $sidebar-width;
}

.l-footer {}