.interestingNews {
    margin-bottom: $vertical-margin-beetwen-blocks;
    border-bottom: $border-widest-width solid $main-news-text-color;
    letter-spacing: $letter-spacing-small;

    &--header {
        padding-bottom: 2px;
        border-bottom: $border-thinest-width solid $main-news-text-color;

        &__title {
            font-size: $news-header-font-size;
            line-height: 30px;
        }
    }
}